<div class="social-section">
    <h2 class="social-title">Seguimi sui Social</h2>
    <p class="social-call-to-action">
        Contenuti gratuiti e motivazione quotidiana per la tua trasformazione
    </p>
    <div class="social-links">
        <a href="https://www.instagram.com/andreapadoancoach/" target="_blank" class="social-link instagram" title="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/andreapadoanpersonaltrainer" target="_blank" class="social-link facebook" title="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.tiktok.com/@andreapadoanpt" target="_blank" class="social-link tiktok" title="TikTok">
            <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://www.youtube.com/@andreapadoanlifestyle" target="_blank" class="social-link youtube" title="YouTube">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
</div>